[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{project_name}}"
version = "0.0.1"
description = "{{project_description}}"
readme = "README.md"
requires-python = ">=3.7"
license = "Apache-2.0 OR MIT"
license-files = { paths = ["LICENSE-APACHE", "LICENSE-MIT"] }
keywords = []
authors = [
    { name = "{{author_fullname}}", email = "{{author_email}}" }
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = []


[project.urls]
Documentation = "https://github.com/{{author_username}}/{{project_name}}#readme"
Issues = "https://github.com/{{author_username}}/{{project_name}}/issues"
Source = "https://github.com/{{author_username}}/{{project_name}}"


